@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-style: none;
    box-sizing: bored-box;
    font-family: Lato, sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}
/* Flex contianer */
.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>* {
    flex: 1 100%;
}
main {
    scroll-margin-top: 60px;
}

/* Header */
.header {
    background: #362d29;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
}

.links a {
    font-weight: 400;
    font-size: 24px;
    color: #dadada;
}

.links {
    display: flex;
    list-style: none;
}

.links li {
    display: inline-block;
    padding: 0px 20px;
}

.links a:hover {
    color: #fff;
}


/* main */
.main {
    text-align: left;
    background-color: whitesmoke;
    font-size: 24px;
}

#bg-image {
    background: url(../images/elena-leya-a5Jou3EnZxE-unsplash.webp) no-repeat center center;
    height: 630px;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

#title {
    position: absolute;
    top: 130px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

#title h1 {
    font-family: "Rock Salt", cursive;
    font-size: 50px;
}

#title h2 {
    position: relative;
    font-size: 25px;
    top: -15px;
}

.survey-link {
    position: absolute;
    top: 60px;
    right: 0;
    padding-top: 60px;

}

.box {
    position: relative;
    background-color: rgba(250, 235, 215, 0.884);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0 0 0 20px;
    width: 280px;
    height: 100px;
    text-align: center;
    z-index: 0;

}

.flex {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

.flex h2 {
    width: 280px;
    font-size: 25px;

}

.flex p {
    width: 280px;
    font-size: 25px;
}

#title-survey {
    position: relative;
    top: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);

}

#title-survey h1 {
    font-family: "Rock Salt", cursive;
    font-size: 50px;
}

#title-survey h2 {
    position: relative;
    font-size: 25px;
    top: -15px;
}

#award {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 555px;
}

#award img {
    position: relative;
    width: 200px;
}

#award h3 {
    font-size: 80%;
    font-weight: 100;
    color: #fff;
}

/* Survey Form*/
.form-container {
    position: relative;
    max-width: 900px;
    background-color: #dadada;
    border-radius: 20px;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
}

#survey-form button {
    position: relative;
    left: 25px;
    width: 100px;
    height: 25px;
    margin-bottom: 20px;
    font-size: large;
}

#into h1 {
    text-align: center;
    padding-bottom: 15px;
}

#into p {
    margin: 0 20px;
    font-size: smaller;
}

#into #tc {
    font-size: 15px;
    padding-bottom: 15px;
}

.survey-section {
    margin-left: 20px;
    padding-top: 10px;
}

/* Menu */
.menu-wrapper {
    display: flex;
    text-align: center;
    margin: 3%;
    justify-content: center;
    gap: 30px;
    flex-direction: row;

}

.menu-wrapper img {
    width: 250px;
}

.sub-menu {
    max-width: 490px;
    background-color: rgb(250, 235, 215);
    border-radius: 10px;
    flex: 1;
}

.flex-column {
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container p {
    width: 80%;
}

.inner-container img {
    height: 165px;
    width: 250px;
}

/* About Us */
.heading {
    width: 100%;
    background-color: #362d29;
    font-size: 30px;
    color: #dadada;
}

.about-us-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3%;
}

.width400 p {
    width: 400px;
}

/* Footer */
.footer {
    background: #362d29;
    height: 80px;
    color: #dadada;
}

.footer p {
    padding-top: 9px;
}

.social a {
    font-size: 40px;
}
/* Media Queries */
@media all and (max-width: 1100px) {
    .menu-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .links a {
        font-size: 23px;
    }


    .sub-menu {
        max-width: 800px;
    }

    .inner-container {
        flex-direction: row;
    }

    .survey-link {
        width: 100%;
        top: 500px;
        right: 0;

        align-items: center;
    }

    .box {
        width: 250px;
        height: 100px;
        text-align: center;
        left: 50%;
        transform: translate(-50%);
    }

    .flex h2 {
        padding: 0;
        width: 250px;
        font-size: 25px;

    }

    .flex p {
        width: 250px;
        font-size: 25px;
    }

}

@media all and (max-width: 770px) {
    .sub-menu {
        max-width: 400px;
    }

    .width400 p {
        width: 350px;
    }

    .inner-container {
        flex-direction: column;
    }

    .about-us-section {
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 5px;
        margin-bottom: 5px;
    }
    .links a {
        font-size: 15px;
    }
}