@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-style: none;
    font-family: Lato, sans-serif;
}

/* Flex contianer */
.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>* {
    flex: 1 100%;
}

/* Header */
.header {
    background: #362d29;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    font-weight: 400;
    font-size: 24px;
    color: #dadada;
}

.links {
    list-style: none;
}

.links li {
    display: inline-block;
    padding: 0px 20px;
}

.links a:hover {
    color: #fff;
}


/* main */
.main {
    text-align: left;
    background-color: whitesmoke;
    font-size: 24px;
}

#bg-image {
    background: url(../images/elena-leya-a5Jou3EnZxE-unsplash.webp) no-repeat center center;
    height: 630px;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

#title {
    position: absolute;
    top: 130px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

#title h1 {
    font-family: "Rock Salt", cursive;
    font-size: 50px;
}

#title h2 {
    position: relative;
    font-size: 25px;
    top: -15px;
}

#title-survey {
    position: relative;
    top: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);

}

#title-survey h1 {
    font-family: "Rock Salt", cursive;
    font-size: 50px;
}

#title-survey h2 {
    position: relative;
    font-size: 25px;
    top: -15px;
}

#award {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 620px;
}

#award img {
    position: relative;
    width: 200px;
}

#award h4 {
    font-size: 80%;
    font-weight: 100;
    color: #fff;
}

/* About Us */
.heading {
    width: 100%;
    background-color: #362d29;
    font-size: 30px;
    color: #dadada;
}

.about-us p{
    font-size: large;
}

.p-container {
    max-width: 800px;
    margin: auto;
}

/* Survey Form*/
.form-container {
    position: relative;
    max-width: 900px;
    background-color: #dadada;
    border-radius: 20px;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
}
#survey-form button {
    position: relative;
    left: 25px;
    width: 100px;
    height:  25px;
    margin-bottom: 20px;
    font-size: large;
}
#into h1 {
    text-align: center;
    padding-bottom: 15px;
}

#into p {
    margin: 0 20px;
    font-size: smaller;
}

#into #tc {
    font-size: 15px;
    padding-bottom: 15px;
}

.survey-section {
    margin-left: 20px;
    padding-top: 10px;
}

/* Menu */

.menu-wrapper {
    display: flex;
    text-align: center;
    margin: 3%;
    justify-content: center;
    gap: 30px;
    flex-direction: row;

}
.menu-wrapper img {
    width: 250px;
}
.sub-menu{
    max-width: 490px;
    background-color: antiquewhite;
    border-radius: 10px;
    flex: 1;
    
    
}
.flex-column{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 15px;
    position: relative;
}
.flex-column p{
    width: 70%;
}




/* Footer */
.footer {
    background: #362d29;
    height: 80px;
    color: #dadada;
}

.footer p {
    padding-top: 9px;
}

.social a {
    font-size: 40px;
}




/* Media Queries */

/* @media all and (min-width: 800px) {
    .main {
        flex: 3;
    }

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 2;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}  */

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }
}

.circle {
    background-color: brown;
    height: 150px;
    width: 150px;
    min-width: 150px;
    border-radius: 50%;
    margin-bottom: 10px; /* Add some spacing between the circle and the paragraph */
}

.para {
    text-align: center; /* Optional: Center the paragraph text */
    width: 80%; /* Optional: Set a width for the paragraph container */
}
