@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-style: none;
    font-family: Lato, sans-serif;
}

/* Flex contianer */
.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>* {
    flex: 1 100%;
}

/* Header */
.header {
    background: #362d29;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li,
.links a {
    font-weight: 400;
    font-size: 24px;
    color: #dadada;
}

.links {
    list-style: none;
}

.links li {
    display: inline-block;
    padding: 0px 20px;
}

.links a:hover {
    color: #fff;
}


/* main */
.main {
    text-align: left;
    background-color: lightblue;
    height: 300px;
    font-size: 24px;
}

/* Aside Left */
.aside1 {
    background-color: green;

}

/* Aside right */
.aside2 {
    background-color: pink;

}

/* Footer */
.footer {
    background: #362d29;
    height: 80px;
    color: #dadada;
}

.footer p {
    padding-top: 9px;
}

.social a {
    font-size: 40px;
}




/* Media Queries */

/* @media all and (min-width: 800px) {
    .main {
        flex: 3;
    }

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 2;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
} */

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }
}